// .modal-incorrect-mail
//   display flex
//   align-items center
//   padding 3rem 0 3rem
//   background-color var(--main-bgcolor)
//   flex-wrap wrap
//   justify-content center
//   .modal-icon
//     padding-bottom 1rem
//   label
//     margin 0 !important
//   .modal-incorrect-mail-footer
//     display flex
//     button
//       background-color transparent
//       text-transform uppercase
//       border none
//       width 50%
//       display flex
//       align-items center
//       justify-content center
//       height 3.75rem
//     .no-btn
//       outline none
//       color var(--dark-color)
//       font-size 14px
//       padding 0