#modal-background
  transition 0.2s ease-out
  background-color #0007
  overflow scroll
  position fixed
  display block
  z-index 1000
  height 100%
  width 100%
  outline 0
  bottom 0
  right 0
  left 0
  top 0
#modal-wrapper
  overflow scroll
  position fixed
  display block
  z-index 2000
  height 100%
  width 100%
  outline 0
  bottom 0
  right 0
  left 0
  top 0
#modal-content
  transform translateY(-25%)
  transition 0.2s ease-out
  background-color white
  border-radius 10px
  position relative
  margin 0 auto
  z-index 2000
  outline 0
  width 82%
#hidden
  display none
.fade-background
  transition 0.3s ease-out!important
.fade-content
  transform translate(0, 0)!important
  transition 0.3s ease-out!important
