#last_page .thanks {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #00bfff;
  font-size: 30px;
}
#last_page .like_wrap {
  width: 80px;
  margin: 0 auto;
}
#last_page .like_wrap img {
  width: 80px;
  height: 80px;
}
#last_page .glad_see,
#last_page .bus_name {
  width: 100%;
  padding: 10px;
  color: #00bfff;
  text-align: start;
}
#last_page .text-wrap .icon {
  display: inline-block;
  width: 15%;
  padding: 10px;
}
#last_page .text-wrap .icon img {
  position: relative;
  width: 40px;
  top: -20px;
}
#last_page .text-wrap .icon .house {
  top: -10px;
}
#last_page .text-wrap .text {
  display: inline-block;
  width: 85%;
  color: #808080;
}
#last_page .text-wrap .text .address {
  color: #00bfff;
}
#last_page .links {
  width: 160px;
  margin: 0 auto;
}
#last_page .links img {
  width: 80px;
  height: 80px;
  padding: 15px;
}

