.search {
  display: flex;
  margin: 5rem 0 2rem;
  justify-content: center;
}

.API_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 45%;
}

.search_input {
  height: 2rem;
  color: #9DA5B4;
  background-color: #282C34;
  text-indent: 0.4rem;
  padding: 0;
  border: none;
}

.search_btn {
  height: 2rem;
  background-color: #21252B;
  color: #9DA5B4;
  margin-left: 0.1rem;
  border: none;
}
.search_btn:hover {
  color: #56B5C1;
  cursor: pointer;
}

.link_img {
  margin: 0.5rem 1rem;
  background-color: #fff;
}
.link_img:hover {
  opacity: 0.9;
}
