#procedures_list
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  .extended-category
    display flex
    flex-direction column
  .acordeon
    visibility hidden
    opacity 0
    height 0
    background-color white
    transition height 0.3s, visibility 0.3s, opacity 0.3s linear
  .active
    visibility visible
    height 100%
    opacity 1
    background-color white
  .active_category
    background-color var(--sec-color)
    transition background-color 1s linear
  .border
    width 95%
    border-top 1px solid #dedeff
  .category
    display flex
    height 4rem
    align-items center
    -webkit-padding-start 1rem  
    -moz-padding-start 1rem
    padding-inline-start 1rem
    -webkit-padding-end 1.5rem  
    -moz-padding-end 1.5rem
    padding-inline-end 1.5rem
    .category_name
    .category_count
      font-size 16px
    .category_name
      word-break break-all
    .category_count
      -webkit-margin-start 0.6rem  
      -moz-margin-start 0.6rem
      margin-inline-start 0.6rem
      flex-grow 1
    .icon_wrap
      display flex
      align-items center
      justify-content center
      .ltr-arrow
      .rtl-arrow
        width 30px
        height 30px
        transition all 0.3s linear
      .rtl-arrow
        display block
        transform rotate(180deg)
      .rotate-arrow
        transform rotate(90deg)
      .rotate-active
        transform rotate(90deg)
  .procedures-title
    margin 0
    padding 0.8rem 1.5rem 0
    width 100%
    text-align end
    font-size 16px
    font-weight 500
    color #ffffff
  .search-strip
    display flex
    align-items center
    justify-content center
    padding 1rem 0
    .search-wrap
      display flex
      align-items center
      justify-content space-between
      border-radius 1.5rem
      height 3rem
      width 19.5rem
      opacity 0.85
      background-color #ffffff
      .search-input
        width 82%
        -webkit-margin-start 0.5rem  
        -moz-margin-start 0.5rem
        margin-inline-start 0.5rem
        text-indent 1rem
        border none
        font-size 14px
        color #bfafe0
        &:active
        &:focus
          outline none
          border none
      .search-img
        -webkit-margin-end 1.5rem  
        -moz-margin-end 1.5rem
        margin-inline-end 1.5rem
  .edditional-info
    display flex
  .procedure-wrap
    border-radius 8px
    overflow-y auto
    height 27rem
    width 96%
    background-color white
  .wrap-service:first-child
    border-top none
  .wrap-service
    border-top 1px solid #dedeff
    -webkit-margin-end 0.7rem  
    -moz-margin-end 0.7rem
    margin-inline-end 0.7rem
  .wrap-service:last-child
    border-bottom 1px solid #dedeff
    
  .service
    height 4rem
    display flex
    align-items center
    justify-content space-between
    -webkit-border-start 6px solid 
    -moz-border-start 6px solid 
    border-inline-start 6px solid
    -webkit-padding-start 0.7rem  
    -moz-padding-start 0.7rem
    padding-inline-start 0.7rem
    .common-wrap
      height 100%
      flex-direction column
      justify-content space-between
      display flex
      padding-top 0.8rem
      padding-bottom 0.5rem
      flex-direction column
    h2
      margin 0
      word-break break-all
      font-size 18px
    .name
      opacity 0.87
      font-weight normal
      font-size 16px
      line-height 1rem
      color #222222
    .add_wrap
      display inline-block
      width 10%
      height 25px
      img
        width 25px
        height 25px
  .dur-wrap
    -webkit-margin-end 0.8rem  
    -moz-margin-end 0.8rem
    margin-inline-end 0.8rem
    img
      opacity 0.5
  .dur-wrap
  .price-wrap
    display flex
    align-items baseline
    font-size 12px
    font-weight 300
    img
      -webkit-margin-end 0.3rem  
      -moz-margin-end 0.3rem
      margin-inline-end 0.3rem
