.error {
	padding: 3.5rem 0 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.error_wrap {
	flex-grow: 1;
	max-width: 640px;
	box-shadow: 0px 5px 8px 0 #deceff, 0 0 4px 0 rgba(0, 0, 0, 0);
}
.error_top_section {
	display: flex;
}
.error_title {
	width: 44%;
	padding: 0.9rem 0 2rem;
	min-height: 14rem;
	-moz-padding-start: 1rem;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
}
.error_top_section .error_height {
	min-height: 16rem;
}
.error_title h2 {
	font-size: 3.1rem;
}
.error_title p {
	padding-top: 0.5rem;
	font-size: 1.25rem;
	font-weight: 500;
}
.error_background_top {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	width: 56%;
}
.error_background_top img {
	position: absolute;
}
.error_outer_ltr {
	top: 4.2rem;
	right: 3rem;
	z-index: 2;
	animation: robot_animation 1.5s alternate ease-out infinite;
}
.error_outer_rtl {
	transform: scale(-1, 1);
	top: 4.2rem;
	left: 3rem;
	z-index: 2;
	animation: robot_animation_rtl 1.5s alternate ease-out infinite;
}
@keyframes robot_animation {
	0% {
		transform: translateY(0.5rem);
	}
}
@keyframes robot_animation_rtl {
	0% {
		transform: translateY(0.5rem) scale(-1, 1);
	}
}
.static_bg {
	top: 0rem;
	right: 0rem;
	z-index: 1;
}
.static_bg_rtl {
	top: 0rem;
	left: 0rem;
	z-index: 1;
}
.question_ltr {
	top: 1rem;
	right: 0.5rem;
	opacity: 0.65;
	z-index: 2;
	animation: question_animation 1.5s alternate ease-out infinite;
}
.scale {
	transform: scale(-1, 1);
}
.question_rtl {
	transform: scale(-1, 1);
	top: 1rem;
	left: 0.5rem;
	opacity: 0.65;
	z-index: 2;
	animation: question_animation 1.5s alternate ease-out infinite;
}
.robot_shadow_rtl {
	top: 13.5rem;
	left: 3.2rem;
}
.robot_shadow_ltr {
	top: 13.5rem;
	right: 3.2rem;
}
.self_shadow {
	opacity: 0.15;
	-webkit-filter: blur(6px);
	filter: blur(6px);
	animation: shadow_animation 1.5s alternate ease-out infinite;
}

@keyframes shadow_animation {
	0% {
		opacity: 0.5;
	}
}
@keyframes question_animation {
	0% {
		opacity: 0.2;
	}
}
.error_background_bottom {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}
.error_background_bottom span {
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-margin-end: 0.5rem;
	-webkit-margin-end: 0.5rem;
	margin-inline-end: 0.5rem;
}
.error_button {
	width: 90%;
	display: flex;
	align-items: center;
	padding: 1rem 0 1rem;
	-moz-padding-start: 20%;
	-webkit-padding-start: 20%;
	padding-inline-start: 20%;
	border-radius: 50px;
  box-shadow: 0 8px 12px 0 rgba(41, 41, 204, 0.16);
	background-color: #ffffff;
	font-size: 17px;
	font-weight: 500;
	color: var(--dark-color);
	margin-bottom: 1.1rem;
	text-decoration: none;
}
.to_home {
	background-image: linear-gradient(97deg, #995cfa, #591ec0);
	color: var(--white-color)
}
