body {
  background-image: url(../img/background.jpg);
  font: 12px Tahoma,Arial,sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 36px auto 0 auto;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}

/*Header*/
header {
  padding: 10px 33px 0 27px;
  position: relative;
  background-color: #ffffff;
}

.contact {
  width: 130px;
  height: 74px;
  float: right;
  font: 12px Tahoma,Arial,sans-serif;
  color: #5fa5bb;
}

.contact p span {
  line-height: 2;
}

.contact a {
  color: #5fa5bb;
  text-decoration:none;
}

.contries {
  float: right;
  clear: both;
  display: block;
  padding-top: 21px;
}

.contries li {
  display: inline-block;
  width: 53px;
  text-align: center;
}

.contries a {
  display: block;
  width: 53px;
  padding-top: 50px;
  font-size: 10px;
  color: #5fa5bb;
}


.india {
  background: url(../img/i_flag.png) no-repeat;
  background-position: center;
}

.nepal {
  background: url(../img/n_flag.png) no-repeat;
  background-position: center;
}

.tibet {
  background: url(../img/t_flag.png) no-repeat;
  background-position: center;
}

.butan {
  background: url(../img/b_flag.png) no-repeat;
  background-position: center;
}

.shri-lanka {
  background: url(../img/s_flag.png) no-repeat;
  background-position: center;
}

.maldivs {
  background: url(../img/m_flag.png) no-repeat;
  background-position: center;
}

/*Menu*/
.menu img {
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}

nav {
  margin-top: -2px;
  background-color: #303030;
  border-bottom: 1px solid #000000;
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.75);
}

nav span {
  font-size: 8px;
}

nav ul::after {
  content: '';
  clear: both;
  display: block;
}

nav ul li {
  position: relative;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.75);
}

nav ul li:hover>ul {
  display: block;
}

nav ul li {
  float: left;
  width: 142px;
}

nav>ul>li>a {
  text-align: center;
}

nav a {
  display: block;
  text-decoration:none;
  font-size: 14px;
  padding: 7px;
  color: #ffffff;
  background-color: #303030;
}

/*Content*/
.content {
  width: 1000px;
  display: flex;
  color: #424c43;
}

h2 {
  font-size: 18px;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 1.8;
  padding: 0 23px 16px 16px;
}

.info {
  width: 25%;
  background: #edeef0;
}

.center {
  width: 50%;
  background-color: #ffffff;
}

.news {
  width:25%;
  background: #edeef0;
}

/*Foofer*/
footer {
  padding: 10px 0;
  font: 12px/1.8 Tahoma, sans-serif;
  text-align: center;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}
