@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #99c0d1;
  font-family: 'Helvetica Neue Regular', Arial, sans-serif;
}

.wrapper {
  background: url(../img/Background.jpg) no-repeat;
  background-size: 100%;
  position: relative;
  height: 1028px;
}

/*Header*/
nav::after {
  content: '';
  clear: both;
  display: block;
}

nav {
  padding-right: 20px;
  height: 41px;
}

header {
  background: linear-gradient(to bottom, #084f8f 0%,#084f8f 100%);
}

/*header {
  margin-bottom: 210px;
}*/

.menu_log_in {
  float: right;
}

.sign_up::after {
  content: '';
  clear: both;
  display: block;
}

.sign_up>p {
  padding: 12px 6px;
  color: #fff;
  float: left;
}
.sign_up>a {
  float: left;
  padding: 12px 6px;
  text-decoration: underline;
}

.sign_up:last-child:hover {
  background: linear-gradient(to bottom, #5fabdd 0%,#5ea4df 20%,#59a8e1 23%,#56a5de 29%,#56a4e2 37%,#53a1df 43%,#4da3dc 46%,#4c9bdd 66%,#4f9fdc 69%,#4898d7 83%,#4897d9 89%,#4b96d0 94%,#569dd1 97%,#7dc1ee 100%);
}

.fa {
  padding: 0 10px;
}

.menu_log_in li {
  float: left;
}

.menu_log_in {
  border-left: 1px solid #56a2dc;
}

.menu_log_in>a {
  padding: 12px 6px;
}

.menu_navigation {
  float: right;
}

.menu_navigation li {
  display: inline-block;
}

a {
  display: block;
  text-decoration: none;
  padding: 12px;
}

.menu_log_in li a {
  color: #ffffff;
}

.menu_navigation li a {
  color: #57aae2;
}

.menu_navigation li a:hover {
  background-color: #4eabda;
  color: #ffffff;
  transition: 0.4s;
}

.menu_log_in li a:first-child:hover {
  background: linear-gradient(to bottom, #5fabdd 0%,#5ea4df 20%,#59a8e1 23%,#56a5de 29%,#56a4e2 37%,#53a1df 43%,#4da3dc 46%,#4c9bdd 66%,#4f9fdc 69%,#4898d7 83%,#4897d9 89%,#4b96d0 94%,#569dd1 97%,#7dc1ee 100%);
  color: #ffffff;
  transition: 0.6s;
}

/*Form*/

.main_form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -305px;
  margin-left: -255px;
  width: 560px;
  height: 610px;
  background-color: rgba(0,0,0,0.5);
}

.cadastre {
  margin-bottom: 35px;
}

.border {
  opacity: 0.5;
  color: #fff;
  border-bottom: 2px solid #ffffff;
}

.cadastre>p {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
}

/*facebook_button*/
.my_btn {
  display: flex;
  width: 276px;
  margin: 0 auto 30px;
}

.log {
  width: 35px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  border-left: 1px solid #3F5386;
  border-top: 1px solid #7789B7;
  border-right: 1px solid #1f3d73;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: linear-gradient(to bottom, #3E5694 0%, #314172 100%);
}

.facebook_btn {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 241px;
  padding: 10px 0;
  border-top: 1px solid #7789B7;
  border-right: 1px solid #3F5386;
  border-left: 1px solid #4d66a6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(to bottom, #3E5694 0%, #314172 100%);
}

.normal {
  font-weight: normal;
}

.chevron {
  padding-left: 20px;
}

.facebook_btn:hover {
  background-image: linear-gradient(to top, #3E5694 0%, #314172 100%);
}
/*___________________________________*/


.style {
  width: 276px;
  height: 35px;
  padding-left: 16px;
  background-color: #0f0f0f;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #484948;
  transition: 0.3s;
}

.style:hover {
  box-shadow: 0 0 15px rgba(47, 123, 197, 1);
  background-color: #1b5288;
}

form p {
  text-align: center;
  margin-bottom: 15px;
  color: #ccc;
}

form input {
  margin-bottom: 15px;
}

label {
  color: #ccc;
}

.create {
  display: block;
  width: 150px;
  height: 35px;
  margin: 0 auto ;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(101,168,228,0) 0%,rgba(101,168,228,0.5) 1%,rgba(101,168,228,0.99) 2%,rgba(68,153,210,0.99) 96%,rgba(67,153,210,0.99) 98%,rgba(67,153,210,0.99) 99%,rgba(67,153,210,0) 100%,rgba(67,153,210,0.35) 101%);
  cursor: pointer;
}

.create:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.small {
  padding-top: 15px;
  margin: 0 auto;
  width: 310px
}

.small p {
  font-size: 11px;
  line-height: 1.6;
}

fieldset {
  border-top: 1px solid #666666;
  width: 292px;
  margin: 0 auto;
  padding-top: 28px;
}

legend {
  text-align: center;
  color: #999999;
  padding: 0 6px;
}
