#select-main
  height 30px
  width 100%
  font-size 21px
  z-index 100
  &:focus
    outline none
  .active
    border 1px solid grey
    display flex
    height 30px
    width 100%
    position relative
    .icon
      font-size 10px
      -webkit-padding-start 5px
      -moz-padding-start 5px
      padding-inline-start 5px
  .options
    background-color white
    position absolute
    width 100%
    padding 0 3px
    border 1px solid grey
    border-top none
    display block
  .hidden
    display none
