body {
	background: #F0F5F3;
	font: 14px Arial, sans-serif;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

hr {
	width: 500px;
}

p {
	text-indent: 40px;
}

.first {
 	font-size: 15px;
 	color: #5E5D5D;
 }

 .first p {
	 text-indent: 1px;
 }

.wrapper {
	width: 500px;
	margin: auto;
}

.MyFoto {
	width: 200px;
	margin: auto;
}
