.wrap_carousel {
  display: flex;
  align-items: center;
}
.carousel-hider {
   width: 600px;
   overflow: hidden;
   float: left;
}
.carousel-list {
   width: 10000px;
   position: relative;
}
.carousel-element {
   display: inline-block;
   margin-right: 25px;
}

.carousel-element img {
   max-width: 100px;
}
.carousel-arrow-left,
.carousel-arrow-right {
   float: left;
}
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B9F0A7;
  border-radius: 15px;
  width: 440px;
  height: 200px;
  margin: 40px;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 21px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 21px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 21px 2px rgba(0,0,0,0.75)
}

.user_foto {
  border-radius: 50%;
}
.text {
  font: 17px Arial, sans-serif;
  border-bottom: 1px solid #999;
}
.title {
  font:22px Tahoma, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  color: black;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
p {
  padding: 5px 0;
  color: #666;
}
